@font-face {
  font-family: "PressStart2P";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(data-base64:~assets/PressStart2P.ttf) format("ttf");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

.spotlight-input-outline {
  position: fixed;
  bottom: 35%;
  left: 50%;
  transform: 'translate(-50%, 0%)';
}

.textarea-container {
  position: relative;
  width: 90%;
  height: 3.2em;
  max-height: 3.2em;
  padding: 0.5em 0.5em 1.4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.custom-input {
  position: relative;
  font-family: 'Inter', sans-serif;
  font-size: 1.2em;
  background-color: rgba(16, 16, 16, 0); /* Dark gray with 60% opacity */
  color: white;
  padding: 0.7em 0.5em;
  border: none;
  outline: none;
  border-radius: 0.5em;
  overflow-wrap: break-word;
  width: 100%;
  overflow-y: auto; /* Enable vertical scrolling if content exceeds the max height */
  align-self: flex-start;
  padding: 0em;
  resize: none;
  height: 2.6em;
  max-height: 2.6em;
  /* padding-left: 2em; */
}

.custom-input::placeholder {
  font-family: 'Inter', sans-serif;
  color: rgba(220, 220, 220, 0.6); /* White with 60% opacity */
}

.main-icon {
  width: 120px; /* Set the width to 120 pixels */
  height: 106px; /* Set the height to 106 pixels */
  align-self: flex-end;
}

.activation-key {
  position: relative;
  align-self: flex-end;
  width: 6em;
  height: 2.9em;
}